<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"yeffoprint/how-it-works-intro"} /-->
	<!-- wp:pattern {"slug":"yeffoprint/process-steps"} /-->
	<!-- wp:pattern {"slug":"yeffoprint/turnaround-time"} /-->
	<!-- wp:pattern {"slug":"yeffoprint/materials"} /-->
	<!-- wp:pattern {"slug":"yeffoprint/material-guide"} /-->
	<!-- wp:pattern {"slug":"yeffoprint/custom-design-cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
